@import "tailwindcss";

@theme {
  --color-background: #F8F7F4;
  --color-primary: #1A1A1A;
  --color-luxury-gold: #C6A35E;
  --color-luxury-midnight: #0F172A;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
}

/* Scrollbar styling for cleanliness */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #C6A35E; /* Gold hover */
}